<div class="container d-flex flex-column">
  <!-- אזור כותרת ויוזר -->
  <div class="header d-flex align-items-center p-3">
    <input class="username-input" [(ngModel)]="username" placeholder="👤 הכנס שם משתמש..." />
  </div>

  <!-- אזור ההודעות -->
  <div class="messages-container flex-grow-1 overflow-auto p-3 d-flex flex-column" #scrollMe>
    <div
      *ngFor="let msg of messages"
      [ngClass]="{ 'message-right': msg.username === username, 'message-left': msg.username !== username }"
      class="message-bubble"
    >
      <div class="msg-username">👤 {{ msg.username }}</div>
      <div class="msg-text">💬 {{ msg.message }}</div>
    </div>
  </div>

  <!-- שורת הקלט -->
<form (submit)="submit()" class="input-area p-3">
  <div class="input-group">
    <input
      class="form-control"
      [(ngModel)]="message"
      name="message"
      placeholder="✏️ כתוב הודעה..."
    />
    <button class="btn btn-primary" type="submit">🚀 שלח</button>
  </div>
</form>


</div>
